.search-bar {
    padding: 16px;
    padding-top: 0;
    background-color: white;
    border-radius: 2px;
    margin-bottom: 16px;
    button {
        margin-right: 16px;
    }

    .ant-form-item {
        margin-top: 16px;
    }
    .ant-form-item-control-input {
        width: 160px;
    }
}