.position-add-page {
  .sal {
    margin: 0;
    label::before {
      display: inline-block;
      margin-right: 4px;
      color: #f5222d;
      font-size: 14px;
      line-height: 1;
      content: '*';
    }
  }
}