.service-modal {
    .ant-modal-footer {
        display: none;
    }

    input {
        color: rgba(0, 0, 0, 0.7) !important;
    }

    form {
        padding-bottom: 20px;

        >div {
            margin-top: 14px;

            .ant-col.ant-form-item-label {
                width: 80px;
            }

            span.ant-input-group-wrapper,
            .ant-col.ant-form-item-control {
                width: 200px;
            }
        }
    }
}